<!DOCTYPE html>
<html class="core" lang="en">
<head>
	{{> html-head}}
</head>
<body data-o-component="o-syntax-highlight">

	<div class="o-layout o-layout--landing" data-o-component="o-layout">

		<div class="o-layout__header">

			<div class="o-message o-message--notice o-message--warning-light" data-o-component="o-message" data-close="false">
				<div class="o-message__container">
					<div class="o-message__content">
						<p class="o-message__content-main">
							<span class="o-message__content-highlight">This project is not safe for use in production.</span>
							It's a 10% project, and is likely to collapse under any kind of load
						</p>
					</div>
				</div>
			</div>

			{{> header}}
		</div>

		{{{body}}}

		<div class="o-layout__footer">
			{{> footer}}
		</div>

	</div>

</body>
</html>
